{% extends 'base.html.twig' %}

{% block title %}{{ person.firstName|capitalize }} {{ person.name|upper }}{% endblock %}

{% block body %}
<h1>{% if person.isVaccinated %}<i class="bi bi-check2-circle text-primary"></i> {% endif %}{{ person.firstName|capitalize }} {{ person.name|upper }}</h1>
<a href="{{ app.request.headers.get('referer') }}" class="btn btn-primary"><i class="bi bi-arrow-left"></i> Retour</a>
<a href="{{ path('person_edit', {'id': person.id})}}" class="btn btn-outline-primary"><i class="bi bi-pencil-fill"></i> Modifier</a>
<hr/>
<p><b>Nom :</b> {{ person.name|upper }}</p>
<p><b>Prénom :</b> {{ person.firstName }}</p>
<p><b>Date de venue :</b> {{ person.addedAt|format_datetime("long", "none", locale='fr') }}</p>
<p><b>Est vacciné :</b> {% if person.isVaccinated %}<i class="bi bi-check2-circle text-primary"></i>{% else %}Non{% endif %}</p>
<p><b>Téléphone :</b> {{ person.phoneNumber }}</p>
<p><b>Email :</b> {{ person.email }}</p>
<p><b>Adresse :</b></p>
<p>{{ person.nameStreetAddress }}</p>
<p>{{ person.additionalAddress }}</p>
<p>{{ person.secondAdditionalAddress }}</p>
<p><b>Code postal :</b> {{ person.zipCode }}</p>
<p><b>Ville :</b> {{ person.municipality }}</p>
{% endblock %}